<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-hijo1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
	<div>
		<h1>[[titulo]]!</h1>
		<p>[[descripcion]]</p>
		<p><button class="boton" on-click="boton1">[[boton1]]</button></p>
		<p><button class="boton" on-click="boton2">[[boton2]]</button></p>
	</div>
  </template>

  <script>
    /**
     * `element-hijo1`
     * Hijo1 con botones
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementHijo1 extends Polymer.Element {
      static get is() { return 'element-hijo1'; }
      static get properties() {
        return {
          titulo: {
            type: String,
            value: 'Soy el Elemento Hijo 1'
          },
		  descripcion: {
            type: String,
            value: 'Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.'
          },
		  boton1: {
            type: String,
            value: 'boton uno'
          },
		  boton2: {
            type: String,
            value: 'boton dos'
          }
        };
      }
	  boton1(e) {
        this.dispatchEvent(new CustomEvent('eventboton1', {bubbles: true, composed: true, detail: {boton:"boton1"}}));
      }
	  boton2(e) {
        this.dispatchEvent(new CustomEvent('eventboton2', {bubbles: true, composed: true, detail: {boton:"boton2"}}));
      }
    }

    window.customElements.define(ElementHijo1.is, ElementHijo1);
  </script>
</dom-module>
